<form method="POST" action="/courses/store">
  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input type="text" class="form-control" id="courseName" name="name" placeholder="Enter course name">
  </div>
   <div class="form-group">
    <label for="courseDescription">Description</label>
    <input type="text" class="form-control" id="courseDescription" name="description" placeholder="Enter description">
  </div>
   <div class="form-group">
    <label for="videoId">Video Id</label>
    <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Enter video id">
  </div>
   <div class="form-group">
    <label for="level">Level</label>
    <input type="text" class="form-control" id="level" name="level" placeholder="Enter level">
  </div>
  
  <button type="submit" class="btn btn-primary">Create Course</button>
</form>